@use '../../scss' as *;

.movie-card {
   position: relative;
   padding: 1.6rem 1.8rem;
   background-color: rgba(52, 68, 91, 0.4);
   margin-bottom: 3rem;
   border-radius: $border-radius;
   transition: background-color 0.4s ease;

   & .poster {
      position: relative;
      padding-top: 160%;
      border-radius: 3px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
   }
   .info {
      margin-top: 1rem;
      height: 8rem;

      & .title {
         font-size: 1.8rem;
         font-weight: 700;
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 2;
      }
      & .release-date {
         font-size: 1.6rem;
         color: $content-color;
         padding: 1rem 0;
      }
      & .detail {
         display: none;
      }
   }
}
