@use '../../scss' as *;

.header {
   @include flex(unset, center);
   flex-direction: column;
   padding: $header-height 0;
   background-color: red($color: #000000);
}
.separate {
   width: 100%;
   border-bottom: 1.5px solid $card-bg;
   margin: 2rem 0 4rem 0;
}
