@use "../../scss" as *;

.title {
  color: $primary-color;
  text-align: center;
  text-transform: uppercase;
  line-height: 3rem;
  background-color: $sub-bg;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-bottom: 5rem;
}
.sub-title {
  width: 100%;
  border-bottom: 2px solid $primary-color-rgba;
  padding: 0.8rem 0;
  margin: 2rem 0;
}
.btn-wrapper {
  @include flex(unset, end);
  margin-top: 1rem;
}
.update-btn {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  background-color: $primary-color;
  cursor: pointer;
  font-weight: 600;
  color: $white;

  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
}
.tab-container {
  display: flex;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: $sub-bg;
  border-radius: 4px;
  padding: 0;

  li {
    position: relative;
    min-width: 10rem;
    border-radius: 4px;
    text-align: center;
    padding: 1rem;
    margin-right: 2rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3 ease;

    &::after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      border-radius: 4px;
      border-top: 2px solid $primary-color-rgba;
      transform: scale(0);
      transition: transform 0.4s ease, color 0.4s ease;
    }

    &:hover::after {
      transform: scale(1);
    }
    &.active {
      color: $primary-color;
    }
    &.active::after {
      transform: scale(1);
    }
  }
}
.genres-container {
  margin-top: 1rem;
}
.genres-list,
.keywords-list,
.casts-list {
  width: 100%;
  overflow-y: scroll;
  height: 20rem;
  padding: 1rem;
  margin-top: 1rem;
  border: 3px solid $sub-bg;

  .genre,
  .keyword,
  .cast {
    display: flex;
    padding: 0.6rem 0;
    border-bottom: 1px solid $sub-bg;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: $sub-bg;
    }
    &:active {
      opacity: 0.9;
    }

    & .number {
      width: 20rem;
    }
  }
}
label {
  display: block;
  margin-bottom: 0.8rem;
}
.dropdown {
  display: flex;
  width: 100%;
  color: $text-color;
  padding: 0.4rem;
  border-radius: 4px;
  background-color: $sub-bg;
  margin-bottom: 2rem;
}
