@use "../../scss" as *;

.castcard {
  @include flex(center, unset);
  width: fit-content;
  padding: 1rem;
  background-color: $sub-bg;
  border-radius: 4px;
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;

  .img-container {
    width: 50px;
    padding-top: 50px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 1rem;
  }

  .remove-btn {
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
