@use '../../scss/' as *;

.footer {
   position: relative;
   margin-top: 1rem;
   padding: 4rem 2rem;
   border-top: 1px solid $primary-color;

   & .content {
      @include flex(center, center);
      flex-direction: column;
      max-width: 1000px;

      & .menus {
         display: grid;
         grid-template-columns: repeat(2, 1fr);

         & .menu {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 1rem;
            font-size: 1.8rem;
            font-weight: 600;

            & > * ~ * {
               margin-top: 1.6rem;
            }
         }
      }
   }
}
