@use '../../scss/' as *;

.filter-list {
   display: flex;
   align-items: flex-start;
   padding: 0 6rem;

   & + .filter-list {
      margin-top: 2rem;
   }
}
.lable {
   line-height: 1;
   margin-top: 0.3rem;
   font-size: 1.8rem;
   text-align: end;
   margin-right: 2rem;
   font-weight: 700;
   color: $text-color;
   opacity: 0.4;
}
.container {
   display: flex;
   height: 10rem;
   align-items: flex-start;
   flex-wrap: wrap;
}
.card {
   font-weight: 500;
   font-size: 1.4rem;
   background-color: $card-bg;
   border-radius: 4px;
   padding: 1rem 1.2rem;
   cursor: pointer;
   color: rgb(193, 193, 193);
   margin-right: 0.8rem;
   margin-bottom: 0.8rem;
   transition: color 0.3s ease, background-color 0.3s ease;

   &:hover {
      color: white;
   }
   &.checked {
      background-color: $primary-color;
      color: $text-color;
   }
}
