@use "../../scss" as *;

.container {
  flex: 1;
  padding: 0 3rem;
  margin-top: 2rem;
}
.feature {
  display: flex;
  justify-content: end;

  button {
    width: 120px;
    border: none;
    background-color: $primary-color;
    color: $text-color;
    font-weight: 600;
    border-radius: 4px;
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
    }
  }
}
.list {
  width: 100%;
  margin-top: 4rem;

  .grid {
    width: 100%;
    display: grid;
    gap: 1.8rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
