.container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.logo-container {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;
}
.card-container {
   margin: 12rem auto;
}
