@use '../../scss/' as *;

.header {
   height: $header-height;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 99;
   transition: height 0.3s ease, background-color 0.2s ease;

   &.active {
      background-color: $black;
   }

   &.shrink {
      height: $header-shrink-height;
      background-color: $primary-color;
   }
}
.wrapper {
   @include flex(center, space-between);
   height: 100%;
   padding: 0 6rem;

   @include mobile {
      justify-content: center;
   }
}
.features {
   display: flex;
}

.menu {
   @include flex(center, unset);
}

.nav {
   position: relative;
   top: 3px;
   @include flex(center, unset);
   margin-left: 6rem;
   color: rgb(180, 180, 180);

   & > * ~ * {
      margin-left: 3rem;
   }
   li {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 0 0.8rem;
      position: relative;

      & > a {
         padding: 10px 0;
      }
      &.active,
      &:hover {
         color: $white;
      }
   }

   @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 7rem;
      width: 100%;
      background-color: $primary-color;
      padding: 0 6rem;
      box-shadow: $box-shadow;

      @include flex(center, space-between);

      & > * ~ * {
         margin-left: 0;
      }
   }
}
.search-bar {
}
