@use '../../scss/' as *;

.header {
   height: $header-height;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 99;
   transition: height 0.3s ease, background-color 0.3s ease;

   &.shrink {
      height: $header-shrink-height;
      background-color: $primary-color;
   }
}
.wrapper {
   @include flex(center, space-between);
   height: 100%;
   padding: 0 6rem;

   @include mobile {
      justify-content: center;
   }
}
.features {
   display: flex;
}
.nav {
   @include flex(center, unset);

   & > * ~ * {
      margin-left: 3rem;
   }
   li {
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 0.8rem;
      position: relative;

      & > a {
         padding: 10px 0;
      }
      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 0;
         transition: width 0.4s ease;
         height: 2px;
         background-color: $primary-color;
      }
      &.active::after,
      &:hover::after {
         width: 100%;
      }
   }

   @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 7rem;
      width: 100%;
      background-color: $primary-color;
      padding: 0 6rem;
      box-shadow: $box-shadow;

      @include flex(center, space-between);

      & > * ~ * {
         margin-left: 0;
      }
   }
}
