$white: #fff;
$black: #000;

$primary-color: #00f4f4;
$secondary-color: #f40000;
$text-color: $white;
$content-color: #dfdfdf;

$body-bg: #111319;
$box-shadow: rgba(48, 58, 78, 0.2) 0px 7px 29px 0px;
$border-radius: 6px;

$header-height: 8rem;
$header-shrink-height: 5rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Cairo', sans-serif;
